<<<<<<< HEAD
<h1>About</h1>
<p>This is a node express app for jotting down ideas for future youtube videos.</p>
<p>Version: 1.0.0</p>
=======
<h1>About</h1>
<p>This is a node express app for jotting down ideas for future youtube videos.</p>
<p>Version: 1.0.0</p>
>>>>>>> 2b8e8f13f7744e5aeab940aaaab4fa0a2fb4462c
