<<<<<<< HEAD
<div class="jumbotron text-center">
    <h1 class="display-3">{{title}}</h1>
    <p class="lead">Jot down ideas for new youtube videos.</p>
    <a href="/ideas/add" class="btn btn-dark btn-lg">Add Videos</a>
=======
<div class="jumbotron text-center">
    <h1 class="display-3">{{title}}</h1>
    <p class="lead">Jot down ideas for new youtube videos.</p>
    <a href="/ideas/add" class="btn btn-dark btn-lg">Add Videos</a>
>>>>>>> 2b8e8f13f7744e5aeab940aaaab4fa0a2fb4462c
</div>